

body{

    background: url(/../Images/background.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    position: 0;

}

#background-carousel{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-1;
}
.carousel,
.carousel-inner {
	width:100%;
	height:auto;
	z-index:0;
	overflow:hidden;
}
.item {
	width:100%;
	height:100%;
	background-position:center center;
	background-size:cover;
	z-index:0;
}



    .button{
    
    background-color: #660000;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 74px;
    width: 183px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
    float : right;


    }

    .button2 {

    background-color: #bb0000;
    color: #fff;
    font-family: Sans-serif;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
    padding: 5px;


            }



.button:hover {
  background: #990000;
}


.header {
text-align: center;
color: white;
font-size: 56px;
margin-top: 114px;

}

.center {

text-align: center;

}

.left {

float: left;
margin-top: 16px;

}

.nav {

background-color: #660000;
/*position: fixed;*/


}

.navbar{
    background-color: #660000;
    position: absolute;
    width: 100%;
    top: 0;
}

.banner {

background: url(/../Images/background.jpg);
background-size: 100% 100%;

}

.banner2 {

background: url(/../Images/background.jpg);
background-size: 100% 100%;

}

.tag {

text-align: center;
color: white;
padding-top: 253px;
/*padding-bottom: 292px;*/
font-size: 40px;

}

.tag2 {


text-align: center;
color: white;
/*padding-top: 253px;*/
padding-bottom: 292px;
font-size: 21px;


}


.content {
position: relative;
background-image: url(/../Images/search.jpeg);
background-size: cover;
    padding-top: 98px;
    padding-bottom: 153px;
    

}

.content2 {
    position: relative;
    background-image: url(/../Images/playlist.jpg);
background-size: cover;
    padding-top: 98px;
    padding-bottom: 153px;
}

.content3 {
    position: relative;
background-image: url(/../Images/show.jpg);
background-size: cover;
    padding-top: 98px;
    padding-bottom: 153px;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #bb0000;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.a {
text-decoration: none;
color: white;
}



a.a:hover {
text-decoration: none;
color: white;
}

.name:hover .overlay {
  bottom: 0;
  height: 100%;
  opacity: 0.5;

}
.form{
    position: relative;
    z-index: 2;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    -moz-box-shadow: 0 0 20px #bb0000;
    -webkit-box-shadow: 0 0 20px #bb0000;
    box-shadow: 0 0 20px #bb0000;
        margin-top: 187px;
}

.formsearch{

      position: relative;
    z-index: 2;
    width: 823px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    -moz-box-shadow: 0 0 20px #bb0000;
    -webkit-box-shadow: 0 0 20px #bb0000;
    box-shadow: 0 0 20px #bb0000;
        margin-top: 95px;

}
.overlay2 {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: .5s ease;
  background-color: black;

}

.color {
    color: #010101;
    text-align: center;
    font-size: 57px;
    margin-top: 171px;
}

.user {
background-color: maroon;
    /*background-color: #bb0000;*/
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 74px;
    width: 183px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}

.user:hover {

background: #990000;

}

.top {

margin-top: 211px;
}

.tag3 {
    text-align: center;
    font-size: 19px;
}

.button2:hover {
background: #990000; 
}

.box {

margin-left: 29px;

}

.box2 {
margin-left: 14px;
}

.title {
  font-size: 19px;
  margin-bottom: 0;
  font-weight: bold;
}

.boxx {
  margin-left: 25px;
}

.modal-box {
      display: none;
      position: fixed;
      text-align: center;
      z-index: 1000;
      width: 98%;
      background: rgba(0, 0, 0, 0.3) !important;
      border-bottom: 1px solid #aaa;
      border-radius: 4px;
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-clip: padding-box;

    }


    .modal-box header,

    .modal-box .modal-header {

      padding: 1.25em 1.5em;
      /*border-bottom: 1px solid #ddd;*/

    }


    .modal-box header h3,

    .modal-box header h4,

    .modal-box .modal-header h3,

    .modal-box .modal-header h4 { margin: 0; }

     

    .modal-box .modal-body { padding: 2em 1.5em; }

     

    .modal-box footer,

    .modal-box .modal-footer {

      padding: 1em;
      /*border-top: 1px solid #ddd;*/
      background: rgba(0, 0, 0, 0.02);
      text-align: center;

    }

     

    .modal-overlay {

      opacity: 0;
      filter: alpha(opacity=0);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 900;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3) !important;

    }

     

    a.close {

      line-height: 1;
      font-size: 1.5em;
      top: 5%;
      right: 2%;
      text-decoration: none;
      color: white;
      text-align: center;

    }

     

     a.close:hover {

      color: #222;
      -webkit-transition: color 1s ease;
      -moz-transition: color 1s ease;
      transition: color 1s ease;

    }

    .timeline {
      margin: 0px;
      float: right;
    }

