
<?php
$conn = mysql_connect("localhost","root","Enter your password");
$db = mysql_select_db("database_name",$conn);
$db2=mysqli_connect("localhost","root","Enter your password","database_name");
$link = new mysqli( 'localhost', 'root', 'Enter your password', 'database_name' );
?>
